

body {
    background: #FFFFFF url('img/olmpicsLogo.png') no-repeat top left;
    margin: 0;
    padding: 0;
	color: rgba(000, 010, 020, 0.7);
	font-size: 9pt;
	font-family: Arial, Verdana, sans-serif;
	}
	
p {
	color: rgba(000, 010, 020, 0.7);
	font-size: 9pt;
	font-family: Arial, Verdana, sans-serif;
	text-align: scenter;
	}
	
#sub-title{
	font-size: 8pt;
}

li {

}

	
	
 
