body {
	background: rgb(240,240,240);
}

#headimg {
	width: 400px;
	margin: 25px 0px 0px 20px;
}

#name{
	font-family: Arial, Verdana, sans-serif;
	color: rgba(255, 255, 255, 0.8);
	font-size: 20pt;	
	margin-left: 20px;
	margin-top:0px;
}

table {
	width: 500px;
	text-align: center;
	font-family: Arial, Verdana, sans-serif;
	background-color:rgb(245, 245, 245);
	border-spacing: 0px;
	border: 1px solid rgba(200, 200, 200, 1);
	margin: 50px auto;
	border-radius:         3px;
	-moz-border-radius:    3px;
	-o-border-radius:      3px;
	-webkit-border-radius: 3px;
}

thead{
	font-size: 9pt;
	background-color: rgb(220, 220, 220);
	color: #111;
}

td, th{
	padding: 5px;
}

tbody{
	font-size: 9pt;
	color: #222
}

table.row tbody tr:hover{
	background-color: rgb(240, 240, 240);
}

.gold{ 
	color: rgb(250, 240, 20);
}

.silver{
	color: rgb(180, 180, 180);
}

.bronze{
	color: rgb(180, 110, 60);
}

form {
	font-size: 9pt;
	font-family: Arial, Verdana, sans-serif;
}